* {
    box-sizing: border-box;
}


/* For desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* Navebar start */
.nav-logo {
    text-align: left;

}

.nav-head h1 {
    text-align: right;
}

.nav-manu {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;
}

.nav-manu a {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
}

/* Navebar end */

/* Profile start */

.profile-head p {
    width: 50%;
    margin-bottom: 20px;
}

.profile .top-wether-icon {

    right: 160px;
    transition: width 2s, transform 2s;
    width: 150px;
}

.profile .top-wether-icon:hover {
    width: 200px;
}

.profile .bottom-wether-icon {
    bottom: 30px;
    left: 160px;
    transition: width 2s, transform 2s;
    width: 150px;

}

.profile .bottom-wether-icon:hover {
    width: 200px;
}

/* Profile end */

/* About me start */

.myface img {
    height: 350px;
    width: 300px;
    margin-right: 200px
}

.bio p {
    text-align: left;
}

/* About me end*/

/* Achivement contact start */

.contact-form button {
    width: 150px;
    font-size: 1.2rem;
}

/* Achivement contact end */

/* More contact start */

.more-contact {
    position: relative;
}

.more-contact .more-contact-icon {
    position: absolute;
    left: 50%;
    right: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
}

/* More contact end */


/* footer start*/

.footer-manu {
    margin-top: 20px;
}

.footer-manu a {
    display: inline;

    width: 150px;
    margin-left: 1%;
}

/* footer end*/